<ion-header>

  <ion-navbar>
    <ion-title>Buy Product</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <h1>{{user_details.user_name}}</h1>
    <p>{{user_details.user_address}} - {{user_details.user_pincode}}</p>
    <p>{{user_details.user_phone}}</p>
    <p>{{user_details.user_email}}</p>
  </ion-item>

  <ion-item text-wrap>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>
            {{productDetail.product_name}}
          </h2>
          <p>{{seller_details.retailer_name}}</p>
          <h2>{{ seller_details.price | currency: "INR" }}</h2>
          <!-- <p>Delievery by 12th February,2019</p> -->
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <img src="https://img4.gadgetsnow.com/gd/images/products/additional/large/G84285_View_1/mobiles/smartphones/google-pixel-3-xl-64gb-just-black-4gb-ram-.jpg"
                alt="" height="75px" width="50px" srcset="" style="float: right;">
              <!-- <ion-thumbnail item-end>
            <img src="https://img4.gadgetsnow.com/gd/images/products/additional/large/G84285_View_1/mobiles/smartphones/google-pixel-3-xl-64gb-just-black-4gb-ram-.jpg">
          </ion-thumbnail> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-label text-wrap>Qty:</ion-label>
    <button ion-button clear outline color="primary" icon-only item-start (click)="increase()">
      <ion-icon name='add-circle' (click)="increase()"></ion-icon>
    </button>
    <ion-label>{{quantity}}</ion-label>
    <button ion-button clear color="primary" icon-only item-end (click)="decrease()">
      <ion-icon name='remove-circle' (click)="decrease()"></ion-icon>
    </button>
  </ion-item>
  <br>
  <ion-list>
    <ion-list-header>
      Price Details
    </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Price ({{quantity}} item)</p>
          </ion-col>
          <ion-col style="float: right;">
            {{totalAmt | currency: "INR" }}
          </ion-col>
          <span *ngIf="canNotIncreaseQty" style="color: red">No More Stock Available</span>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Delievery</p>
          </ion-col>
          <ion-col style="float: right;">
            <span style="color: green">FREE</span>
            <!-- <span *ngIf="!delievery" style="color: red">Not Eligible</span> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Amount Payable</p>
          </ion-col>
          <ion-col style="float: right;">
            {{totalAmt | currency: "INR" }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <button align="center" ion-button color="danger" (click)="cancelOrder()">Cancel Order</button>
  <button align="center" ion-button color="secondary" (click)="placeOrder()">Place Order</button>

</ion-content>