page-products {
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 1.8em;
        top: 10%;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .myCard {
        position: relative;
    }
    .myOverlay {
        width: 100%;
        height: 60px;
        position: absolute;
        z-index: 99;
        bottom: 0px;
        opacity: 0.7;
        background: #000;
        color: #fff;
    }
}